<!DOCTYPE html>
<html lang="en">

<head>
	<title>Carpe</title>
	<meta charset="UTF-8">
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap-theme.min.css">
	<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
	<link href="https://fonts.googleapis.com/css?family=Patua+One&display=swap" rel="stylesheet">
	<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
</head>

<body>
	{{{ body }}}

	{{!-- Add in jQuery --}}
	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script src="/assets/js/script.js"></script>
</body>

</html>