<div class="container">
	<div class="row">
		<div class="col-md-12 text-center" id="top-bar">
			<h1> Carpe </h1>
			<p>Keeping your goals in mind.</p>
		</div>
	</div>
	<div class="row">
		<div class="col-6">
			<div class="jumbotron" style="height: 100%">
				<div class="text-center" class="task">
					<h3>Your Goals</h3>
					<hr>
					<div>
						{{#each goal_data}}
						{{#unless this.completed}}
						<input class="form-control" type="text" value="{{this.goal_name}}"
							style="background-color: white" readonly>

						{{/unless}}
						{{/each}}
					</div>
				</div>
			</div>
		</div>
		<div class="col-6">
			<div class="jumbotron" style="height: 100%">
				<div class="text-center" class="task">
					<h3>Completed Goals</h3>
					<hr>
					{{#each goal_data}}
					{{#if this.completed}}
					<input class="form-control" type="text" placeholder="{{this.goal_name}}" readonly>
					{{/if}}
					{{/each}}
				</div>
			</div>
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-md-12 text-center enter_section">
			<p>Give yourself a new goal to complete with the "Submit" button.</p>
			<form action="/goals/create" method="POST">
				<input type="text" class="form-control" name="goal_name" value="" id="enter_text">
				<button style="background-color:#f76; border-color:#f76; color: white" type="submit"
					class="btn btn-light" id="text-enter-button">Submit</button>
			</form>
		</div>
	</div>
</div>

<div>
	<footer class="footer mt-auto py-3">
		<div class="container" id="footer-container">
			<h1><i class="fa fa-globe"></i> Internet Browser Personality Quiz</h1>
		</div>
	</footer>
</div>